.hg/
build/
lpcsp/
!mbed/
mbed/*
!mbed/TARGET_NUCLEO_F103RB
mbed/TARGET_NUCLEO_F103RB/*
!mbed/TARGET_NUCLEO_F103RB/TARGET_STM/
mbed/TARGET_NUCLEO_F103RB/TARGET_STM/*
!mbed/TARGET_NUCLEO_F103RB/TARGET_STM/TARGET_STM32F1/
mbed/TARGET_NUCLEO_F103RB/TARGET_STM/TARGET_STM32F1/*
!mbed/TARGET_NUCLEO_F103RB/TARGET_STM/TARGET_STM32F1/TARGET_NUCLEO_F103RB
mbed/TARGET_NUCLEO_F103RB/TARGET_STM/TARGET_STM32F1/TARGET_NUCLEO_F103RB/*
!mbed/TARGET_NUCLEO_F103RB/TARGET_STM/TARGET_STM32F1/TARGET_NUCLEO_F103RB/PinNames.h
*.bak
*.bin
*.htm
*.dep
*.bld
*.uvgui.*
*.hgignore
*.uvopt
teraterm/dtr_rts.ttl
